* {
    margin: 0;
}



.section_1_color {
    background-color: #101C26;
    width: 100%;
    height: 900px;

}

.hider_menu {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.section_1_Textabout {
    display: flex;
    gap: 37px;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    color: #BAB9B9;
}

.Home {
    color: #FFFFFF;
    border-bottom: 1px solid gray;
}

.section_1_button {
    display: flex;
    gap: 30px;
    align-items: center;
}

.btn1,
.btn2 {
    width: 117px;
    height: 50px;
    border-radius: 100px;
    border: 1px solid #CECECE;
    font-size: 16px;
    line-height: 24px;
    background-color: #101c2600;
    color: #CECECE;
}

.btn2 {
    width: 138px;
    background-color: #F0E714;
    color: #101C26;
}




.hider_2_text_photo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 12%;
    box-sizing: border-box;
}

.left {
    width: 534px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.h1_text {
    color: #F3F4F6;
    font-weight: 700;
    font-style: Bold;
    font-size: 60px;
    line-height: 66px;
    letter-spacing: 1%;

}

.about_text {
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -1.1%;
    color: #F3F4F6;
}

.button_video {
    display: flex;
    gap: 35px;
    align-items: center;
}

.buton_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 197px;
    height: 60px;
    border: 1px solid gray;
    border-radius: 100px;
}

.btn3 {

    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.icon_video_text {
    display: flex;
    align-items: center;
    gap: 15px;
}

.number_full {
    display: flex;
    gap: 40px;
}

.number_text {
    font-weight: 800;
    font-size: 44px;
    line-height: 56px;
    letter-spacing: 0%;
    color: #F0E714;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rigth {

    display: flex;
    justify-content: end;
}

.logo {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 100px;
}




.pictures_text,.section_2 {
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    margin-top: 80px;
}
.text_section1{
    width: 628px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bg_col {
    background-color: #24272E;
    color: #F0E714;
    width: 160px;
    height: 46px;
}

.btn4 {
    background: #F0E71433;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #101C26;
}

.Customer {
    width: 508px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #555C68;
    letter-spacing: 0%;

}

.btn5 {
    font-size: 14px;
    color: #F0E714;
}

.h2_text {
    font-weight: 600;
    font-size: 44px;
    line-height: 56px;
    color: #24272E;
}



.logo_text{
    display: flex;
    gap: 15px;
}
.Frist_working{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.part{
    width: 301px;
    color: #555C68;
    font-size: 16px;
    line-height: 24px;
}
.btn6{
    width: 169px;
    height: 39px;
    color: #101C26;
}
body{
    background-color: #F3F4F6;
}


.section_3{
  margin-top: 80px;
}
.s_3{
    width: 50%;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.What_s_3{
    width: 495px;
    text-align: center;
}
.Customer2{
    width: 664px;

}
.box{
    width: 280px;
    height: 210px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.116);
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}
.vacancy{
    color: #555C68;
    font-size: 18px;
    letter-spacing: -1.1%;
    line-height: 20px;
    font-weight: 400;
    margin-top: -15px;
}
.box_flex{
    width: 65%;
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}